.preloader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  min-width: 90%;
}
.circle-preloader {
  display: block;
  width: 50px;
  height: 50px;
  border: 4px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;
  animation: spin 0.75s infinite linear;
  position: absolute;
  top: 50px;
}
.preloader__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: grey;
  text-align: center;
  display: block;
  position: absolute;
  top: 20px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
